h1{
  text-align: center;
  font-size: 72px;
  font-weight: 300;
  color: rgb(0, 67, 202);
  opacity: .3;
  margin: 32px auto;
}
.box{
  width: 600px;
  background: #fff;
  box-shadow: 0 0 3px rgb(155, 155, 155);
  margin: 0 auto;
  box-sizing: border-box;
}
.box-header input{
  width: 100%;
  padding: 16px 32px;
  font-size: 40px; 
  font-weight: 300;
  border: none;
  border-bottom: 1px solid rgb(144, 144, 144);
  box-sizing: border-box;
}
.box-header input:focus{
  outline: none;
  border-bottom-color: rgba(0, 78, 188, 0.492);
}
.box-header input::placeholder{
  font-weight: 200;
  color: rgba(0, 78, 188, 0.492);
}
.box-body .item{
  padding: 16px;
  border-bottom: 1px solid rgb(209, 209, 209);
  font-size: 20px;
  position: relative;
}
.box-body .item button{
  position: absolute;
  top: 50%;  
  right: 32px;
  transform: translateY(-50%);
  display: none;
}
.box-body .item.completed span{
  color: rgb(94, 94, 94);
  opacity: .5;
  text-decoration: line-through;
}
.box-body .item:hover button{
  display: block;
}
.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-footer{
  padding: 4px 20px;
}
